<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuickBeat.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.Windows.Interop.MouseInput.OptOutOfMoveToChromedWindowFix=true; Switch.System.Windows.Interop.MouseInput.DoNotOptOutOfMoveToChromedWindowFix=true " />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
    <userSettings>
        <QuickBeat.MySettings>
            <setting name="APP_HOTKEYS" serializeAs="String">
                <value />
            </setting>
            <setting name="APP_PLAYER_PLAYLIST" serializeAs="String">
                <value />
            </setting>
            <setting name="APP_PLAYER_SETTINGS" serializeAs="String">
                <value />
            </setting>
            <setting name="APP_LIBRARY" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="APP_LIBRARY_PATHS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="APP_PLAYER_PLAYLIST_CUSTOM" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="APP_CLOSINGBEHAVIOUR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APP_STARTUPBEHAVIOUR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APP_VIEW_SIDEBAR_RIGHT_VISIBILITY" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="APP_YOUTUBEDL_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="APP_PLAYER_RECENT" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="APP_PLAYER_RECENT_LIMIT" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="APP_THEME_INDEX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APP_VIEW_BIGCOVER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="APP_THEME_LIGHT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APP_FIRSTRUN" serializeAs="String">
                <value>True</value>
            </setting>
        </QuickBeat.MySettings>
    </userSettings>
</configuration>
